.App {
    text-align: justify;
    background-color: #e8edec;
    font-family: Segoe UI Historic, Segoe UI, Helvetica, Arial, sans-serif;
    color: #923107;
    height: 100vh;
}

.App-link {
    color: #61dafb;
}

.disable {
    pointer-events: none;
}
