@media (prefers-reduced-motion: no-preference) {
    .loading-icon {
        animation: loading-icon-spin infinite 2s linear;
    }
}
  
.loading-icon {
    transform: rotateZ(-90deg);
}

@keyframes loading-icon-spin {
    from {
        transform: rotate(0deg);
    }
    to {
        transform: rotate(360deg);
    }
}