.chatbox {
    border-left: thin solid #374b5f;
    display: flex;
    flex-direction: column;
    flex: 1;
    height: 100%;
    padding: 0 10px;
}

.messages-container {
    flex: 1;
    display: flex;
    flex-direction: column;
    padding: 10px 0px;
    overflow-y: auto;
}

.chat-controllers {
    padding: 10px 0;
    display: flex;
    align-items: center;
}

.chatInput {
    padding: 10px;
    font-size: 1.3em;
    flex: 1;
}

.sendButton {
    padding: 5px;
    height: 40px;
    width: 100px;
    cursor: pointer;
    font-weight: bold;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: rgb(94, 117, 133);
    margin-left: 10px;
}

.sendButton:hover {
    background-color: #35597e;
}

.sendButton:active {
    background-color: #214569;
    color: #b6bec5;
}

.each-message {
    padding: 8px 10px;
    background-color: darkgray;
    align-self: flex-start;
    border-radius: 5px;
    margin-bottom: 5px;
    min-height: 25px;
    color: darkblue;
}

.own-message {
    background-color: #5151ff;
    align-self: flex-end;
    color: white;
}

.empty-messages-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    flex: 1;
}

.chat-initiators-bar {
    display: flex;
    width: 100%;
    align-items: center;
    justify-content: flex-end;
    border-bottom: 2px solid lightgrey;
    height: 75px;
}

.chat-initiators {
    margin-left: 15px;
    padding: 5px;
    font-size: 20px;
    cursor: pointer;
}

.chat-initiators:hover {
    font-weight: bold;
}

.disable {
    pointer-events: none;
    opacity: 0.5;
}