.contacts {
    display: flex;
    flex-direction: column;
    width: 350px;
}

.contacts-list {
    margin-top: 10px;
    margin-bottom: 10px;
    display: flex;
    flex-direction: column;
}

.contacts-title {
    height: 130px;
    display: flex;
    flex-direction: column;
    padding: 20px 10px 10px 10px;
    justify-content: space-between;
}

.contacts-title-title {
    display: flex;
    align-items: center;
    text-transform: uppercase;
    font-weight: bold;
    letter-spacing: 2px;
}

.contacts-title-img {
    height: 40px;
    width: 40px;
    margin-right: 15px;
    border-radius: 50%;
}

.search-input {
    padding: 10px 20px;
    font-size: 0.8em;
    border-radius: 15px;
    border: none;
    outline: none;
    background-color: #76c8b8;
    color: white;
}